.catering-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100%; 
    height: auto; 
    margin: 2rem 0;
    overflow: visible; 
    padding: 1rem; 
}

.catering-image {
    max-width: 100%;
    height: auto; 
    object-fit: cover;
    position: relative;
    margin-top: -50px; 
}
