.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 97%;
  background-color: #223C6D; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header .titulo1 {
  color: white;
  font-family: 'Lucida Bright', Arial, monospace;
  font-size: 220%;
  margin: 0 -18rem 0 0;
}

.header .subtitle {
  font-size: 17px; 
  color: #d1d1d1fa; 
  font-family: 'Lucida Bright', Arial, monospace;
  margin-left: 14rem;
  margin-bottom: -0.5rem;
}

.header img {
  width: 8%;
  margin-right: -60%;
}

.button-container {
  display: flex;
  gap: 50px; 
  margin-right: 50px;
}

.register-button {
  background-color: white;
  color: #000000;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Baskerville Old Face', Arial, monospace;
}

.register-button:hover {
  background-color: #d1d1d1fa;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 97%;
  background-image: url('../images/Cocteles1.jpg'); 
  background-size: cover; 
  background-position: top; 
  padding: 1rem;
  border-radius: 10px;
  position: relative; 
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.074); 
  backdrop-filter: blur(7px);
  z-index: 0; 
}

.carousel {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(245, 213, 187, 0.69);
}

.info {
  position: relative; 
  z-index: 1;
  width: 40%;
  padding: 1rem;
  background: rgba(249, 248, 245, 0.536); 
  border-radius: 10px;
}

.info h2 {
  margin-bottom: 1rem;
  font-family: 'Baskerville Old Face', Arial, monospace;
  text-align: center;
  font-size: 1.6rem;
}

.info h3 {
  font-family: 'Baskerville Old Face', Arial, monospace;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 20px;
  font-size: 1.35rem;
}

.info p {
  font-size: 1.15rem;
  line-height: 1.5;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-family: 'Baskerville Old Face', Arial, monospace;
  color: #000000;
}

.footer {
  background-color: #223C6D; 
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  font-size: 120%;
  width: 96%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.footer p {
  color: #fff;
}
