.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 97%;
  background-color: #223C6D; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
  color: white;
  margin-left: 60px;
  font-family: 'Lucida Bright', Arial, monospace;
  font-size: 220%;
  margin-top: -0.2%;
}

.subheading {
  font-size: 17px; /* Tamaño más pequeño para el subtítulo */
  color: #d1d1d1fa; /* Color gris claro para el subtítulo */
  margin: 0; /* Elimina el margen para que esté más cerca del h1 */
  font-family: 'Lucida Bright', Arial, monospace;
  margin-left: 80px;
  margin-top: -10px;
}

.header img {
  width: 8%;
  margin-right: -60%;
}

.register-button {
  background-color: white;
  color: #000000;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 40px;
  font-family: 'Baskerville Old Face', Arial, monospace;
}

.register-button:hover {
  background-color: #d1d1d1fa;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 97%;
  background-image: url('../images/Cocteles1.jpg'); /* Añade la imagen de fondo */
  background-size: cover; /* Asegúrate de que la imagen cubra todo el contenedor */
  background-position: top; /* Centra la imagen */
  padding: 1rem;
  border-radius: 10px;
  position: relative; /* Necesario para posicionar el fondo blanco con opacidad */
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.074); /* Fondo blanco con opacidad */
  backdrop-filter: blur(7px); /* Aplica el filtro de desenfoque */
  z-index: 0; /* Coloca el pseudo-elemento detrás del contenido */
}

.carousel{
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(245, 213, 187, 0.7);
}

.info {
  position: relative; /* Asegúrate de que el contenido esté encima del pseudo-elemento */
  z-index: 1; /* Coloca el contenido encima del pseudo-elemento */
  width: 40%;
  padding: 1rem;
  background: rgba(249, 248, 245, 0.536); /* Fondo blanco con opacidad para mejor legibilidad */
  border-radius: 10px;
}

.info h2 {
  margin-bottom: 1rem;
}

.info p {
  font-size: 1rem;
  line-height: 1.5;
}

footer{
  background-color: #223C6D; 
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 120%;
  width: 96%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
