

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #f56a3c, #f3d99d);
  top: -50%;
  transform: translate(-65%, -20%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-contanier {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 70%;
  transition-delay: 0.2s;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 1 / 2;
  padding: 0rem 5rem;
  overflow: hidden;
  grid-row: 1 / 2;
  transition: opacity 0.6s ease;
}

form.sign-in-form {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition-delay: 2s;
}

form.sign-up-form {
  z-index: 2;
  opacity: 0;
  transform: translate(7%);
  visibility: hidden;
  transition-delay: 0.2s;

}
.inputslist{
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.2s;
}

.titleNew {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 5fr [x2];
  grid-template-rows: [y0] 1fr [y1] 1fr [y2];
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
  grid-row: y0/y1;
  grid-column: x0/x1;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  grid-row: y0/y1;
  grid-column: x1/x2;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.errors {
  color: #f44336; 
  font-size: 0.85rem; 
  display: inline; 
  grid-row: y1/y2;
  grid-column: x0/x2;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #f3d99d;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
}

.btn:hover {
  background-color: #f56a3c;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: 0.3s;
}

.social-icon:hover {
  background-color: #f56a3c;
  background-color: #f3d99d;}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

.image {
  width: 80%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .contenido {
  color: #050505;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
  color: #333;
}

.btn.transparent {
  margin: 0;
  background: none;
  background-color: #f3d99d;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .contenido, .right-panel .image {
  transform: translateX(800px);
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 2rem 1% 3rem 17%;
}

.panel .contenido {
  color: #050505;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
  color: #333;
}

.panel img {
  width: 70%; 
  margin-top: 30px;
  border-radius: 5%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}


.container.sign-up-mode::before {
  transform: translate(100%, -50%);
  right: 52%;
  top: 50%;
  transition-delay: 0.2s;
}

.container.sign-up-mode .left-panel .image, .container.sign-up-mode .left-panel .contenido {
  transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .contenido, 
.container.sign-up-mode .right-panel .image {
  transform: translateX(-60px);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-signup {
  left: -50%;
}

.container.sign-up-mode form.sign-up-form {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition-delay: 2s;
}

.container.sign-up-mode form.sign-in-form {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition-delay: 1s;
}

.btn.transparent:hover {
  background-color: #333;
  color: #fff;
}